@import "sysmenu.rasi"



window {
    location:         west;
    anchor:           west;
    x-offset:         8;
    width:            113px;
}

element {
    padding: 20px 0px;
}

element-text {
    font: "JetbrainsMono Nerd Font 17";
    vertical-align:   0.5;
}


listview {
    lines: 6;
}
